.aa {
    text-decoration: none;
    color: skyblue;
    font-size: 40px;
}

.aa1 {
    text-decoration: none;
    color: skyblue;
    font-size: 40px;
}

.aa2 {
    text-decoration: none;
    color: skyblue;
    font-size: 40px;
}

.aa3 {
    text-decoration: none;
    color: skyblue;
    font-size: 40px;
}