h1 {
    color: #7a3b3b;
    border: 3px solid blue;
    display: inline-block;
}

h2 {
    color: #393a91;
    border: 3px solid red;
    display: inline-block;
}

.fc {
    color: #4e9c3d;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

    th, td {
        padding: 10px 20px;
    }

 ol {
    border: 3px solid orange;
    display: inline-block;
 }

 